@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.App {
  text-align: center;
}

body{
  background-color: rgb(255, 247, 247);
  font-family: 'Poppins', sans-serif;
}

input, button{
  font-family: 'Poppins', sans-serif;
}

.nav{
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

.nav_brand, b{
  color: rgb(0, 183, 255);
}

.movie_list{
  background-color: rgb(43, 41, 41);
  color: #fff;
  padding: 1rem .5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.movie_btn{
  color: #fff;
  padding: .4rem 1rem;
  border: 0;
  outline: 0;
  border-radius: 1rem;
}

.submit{
  background-color: rgb(7, 105, 7);
  width: 40%;
  margin-bottom: .4rem;
}

.clear{
  background-color: rgb(161, 15, 15);;
  width: 40%;
}

.delete{
  background-color: rgb(161, 15, 15);
}

.movie_input{
  padding: .5rem;
  border-radius: .5rem;
  margin-bottom: .6rem;
}

.submit_btn{
  width: 39%;
}

.div{
  margin-bottom: 2rem;
}

.no_movie{
  margin-top: 2rem;
}
